{% extends 'layout.html' %}

{% block content %}
  <div class="col-md-11">
    <div class="card card-green">
      <!-- /.card-header -->
      <div class="card-header">
        <h3 class="card-title mb-0">آدرس ها </h3>
      </div>
      <div class="card-body table-responsive p-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>شماره</th>
              <th>آدرس</th>
              <th>وضعیت</th>
            </tr>
          </thead>
          <tbody>
          {% for address in addresses %}
            <tr>
              <td>{{ address.id }}</td>
              <td>{{ address.address | truncatewords:10 }}</td>
                <td>
                  {# <a href="{% url 'accounts:address_update' addresse.id %}">#}
                  <a href="#">
                    <span class="badge badge-success" style="background-color: #c3a1fa">ویرایش</span>
                  </a>
                {% if address.is_default == True %}
                 <span class="badge badge-success" style="margin-right: 10px"> پیش فرض </span>
                {% endif %}
                </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <br>
  <div class="col-md-11">
    {#  <a href="{% url 'accounts:address_create' %}">#}
    <a href="#">
      <button type="button" class="btn btn-info float-right">
        اضافه کردن آدرس جدید
        <i class="fas fa-plus"></i>
      </button>
    </a>
  </div>
{% endblock %}