<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'shopping:home' %}">فروشگاه آنلاین</a>
        <a class="nav-item nav-link btn-outline-warning" href={% url "cart:cart_detail" %}>
            <i class="fas fa-shopping-basket"></i>
            سبد خرید
        </a>
        {% if user.is_authenticated %}
            <div class="dropdown nav-item">
                <a class="btn btn-sm btn-primary dropdown-toggle mt-1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    {{ user.get_full_name }}
                </a>
                <div class="dropdown-menu text-right" dir="rtl">
                    <a class="dropdown-item" href="{% url "accounts:detail" %}">
                        <i class="far fa-address-card"></i>
                        نمایه کاربری
                    </a>
                    <a class="dropdown-item" href="{% url "orders:order-list" %}">
                        <i class="fas fa-receipt"></i>
                        خریدهای من
                    </a>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                        خروج
                    </a>
                </div>
            </div>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'accounts:login' %}">ورود</a>
            <a class="nav-item nav-link" href="{% url 'accounts:register' %}">ثبت‌نام</a>
        {% endif %}
    </div>
</nav>